#!/usr/bin/env python3
import os
import sys

env = SConscript("godot-cpp/SConstruct")

env["ENV"] = os.environ
env.Append(CPPPATH=["src/", "godot-cpp/include/", "godot-cpp/gen/include/", "godot-cpp/gdextension/" ])
# define a shared libraries to link with
env.ParseConfig("pkg-config x11 --cflags --libs")
sources = Glob("src/*.cpp")

if env["platform"] == "linux":
    library = env.SharedLibrary(
        "bin/libgdextension{}{}".format(env["suffix"], env["SHLIBSUFFIX"]),
        source=sources,
    )
else:
    library = None

Default(library)
